Source: ogapp
Section: utils
Priority: optional
Maintainer: Gianluigi Forte <koala@koalakoker.com>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>

Package: ogapp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The fast way to keep your notes safe
 OGapp is a slim sized and fast program to manage your textual notes. Notes are organized in pages and it is possible to setup a main password
 to get the access to the notes. When the notes are password protected the .ogp file in which the notes are stored will be encrypted.
 OGapp is cross platform and is available for Windows, Linux and (maybe in the future) Mac. It is based on Qt4 and is written in C++.
 
