Source: ogapp
Section: unknown
Priority: optional
Maintainer: Gianluigi Forte <koala@koalakoker.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ogapp.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ogapp.git;a=summary

Package: ogapp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OGapp notes
